

.cf:after  {
    content: "";
    display: block;
    clear: both;
	}

#wrapper {
    margin: 0;
    padding: 0;
	border:0px solid;
/*    line-height: .4em; */
    }
  

#menu ul {
	padding:0;
	margin:0;
	border:none;
	}
 
#menu .main-menu {
	display: none;
	}	

#tm:checked + .main-menu {
	display: block;
	}

#menu input[type="checkbox"],
#menu ul span.drop-icon {
	display: none;
	}

#menu li,
#toggle-menu,
#menu .sub-menu {
  
	border-color: rgba(0, 0, 0, .05);
  
	}


#menu li,
#toggle-menu {
	border: 0px solid;
	border-width: 0px;	/*Umrandung nur toggle-menu*/
}

#menu .sub-menu {
	background-color: #EBF5D7;   /*Hintergrundfarbe Submenu */
	
	/* vorher: margin: 0 0 em;*/
	margin: 0 0em;

	}

#menu .sub-menu li:last-child {
	border-width: 0;
	}

#menu li,
#toggle-menu,
#menu a {
	position: relative;
	display: block;
	color: black; /*Textfarbe alle Menus bis auf Link im Togglemenu*/
	text-shadow: 0px 0px 0 rgba(0, 0, 0, .125);
	text-decoration: none;
	padding:0;
	margin:1px;
	z-index:5;
	}

#menu {
	background-color: #6BCA6B; 
	/*  background:linear-gradient(90deg, darkgreen 30%, lightgreen 90%);*/
	border: none;
	margin:0;
	padding:0;
	

}

#toggle-menu{
	background: linear-gradient(90deg, darkgreen 5%, lightgreen 70%);
	height:14px;
	top: 0px;
	padding: 0.8em 0.6em;
}

#toggle-menu,
#menu a {
	
	/* vorher:  max-width:150px;
	padding: 1em 1.5em;*/

	}

#menu a {
	padding: 0.35em 0.6em;
	transition: all .125s ease-in-out;
	-webkit-transition: all .125s ease-in-out;
   
	/* vorher:max-width:240px;*/

	}

#menu a:hover {
	background-color: lightgreen;
	color: black;
	z-index:1;
	/*max-width:240px;*/
  
	}

#menu .sub-menu {
	display: none;
	/*max-width:140px;*/
	min-width:164px;  /* Breite sub-menu*/
	}

#menu input[type="checkbox"]:checked + .sub-menu {
	display: block;
}

#menu .sub-menu a:hover {
	color: black;
	background: lightgreen;
	z-index:11;
}

#toggle-menu .drop-icon,
#menu li label.drop-icon {
	position: absolute;
  
	padding: 5px 28px 6px 30px;
	/*  top: 0px;*/
	right: 0px;
	top: 0px;
	/*visibility:hidden;*/
	/*display:none;*/

	}
@media (max-width: 499px) {
  
	.off .ri-arrow-down-s-line{
	visibility:hidden;
	}


#menu label.drop-icon, #toggle-menu span.drop-icon {
	
	margin:0;
	/*  background:green; */
	font-size: 1em;
	/*neu*/  text-align: center;
  
	background: darkgreen;      /* rgba(100, 255, 100, .325);  Feld ums Dreieck*/
	text-shadow: 0 0 0 transparent;
	color: rgba(255, 255, 255, .75);
	border: 0px solid;
	border-color:white;
	border-radius: 0 5px 5px 5px;
	}								 

header .fly {
	font-size: 2em;
	padding: 0px;
	margin:0;
	}

aside {
	flex: 1 0%;
	}
}			
	
#art {
    
    margin: 10px 0px 0px 0px;
	
}

	/*
	@media only screen and (min-width: 800px) {
	#menu .main-menu {
    display:block;
	}
	*/
@media screen and (min-width: 500px) {
	#menu .main-menu {
    display:block;
	
	}

#art {
    
    margin: 10px 10px 0px 10px;
	
}

#toggle-menu,
#menu label.drop-icon {
    display: none;
	
	}

#menu ul span.drop-icon {
    display: block;
	}

#menu li {
    float: left;
    border-width: 0;
	top:0;
      
	}	

#menu .sub-menu li {
    float: none;
	color:white;		
	}

#menu .sub-menu {
    border-width: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 8em;
    z-index: 30;
	
	}

#menu .sub-menu,
#menu input[type="checkbox"]:checked + .sub-menu {
    display: none;
	
	}

#menu .sub-menu li {
    border-width: 1px;
	
	}

#menu .sub-menu .sub-menu {
    top: 0;
    left: 100%;
	
	}

#menu .sub-menu .drop-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;

	}

#menu li:hover > input[type="checkbox"] + .sub-menu {
    display: block;
	color:white;	
	}
}




 
 
 
